<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable" monitorInterval="30" packages="com.oracle.pic.casper.common.util">
    <Appenders>
        <RollingRandomAccessFile name="app_log" fileName="logs/app.log"
                                 filePattern="logs/app-%d{yyyy-MM-dd'T'HH:mm':00Z'}.%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] [%X{opc-request-id}] %replace{%m}{[\n\r]+}{} %ex{full}{separator( | )}%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="10" modulate="true"/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20">
                <Delete basePath="logs/" followLinks="True">
                  <IfFileName glob="app-*.log.gz">
                      <IfAny>
                          <IfLastModified age="7d"/>
                          <IfAccumulatedFileSize exceeds="3 GB"/>
                      </IfAny>
                  </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="access_log" fileName="logs/access.log"
                                 filePattern="logs/access-%d{yyyy-MM-dd'T'HH:mm':00Z'}.%i.log.gz">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="10" modulate="true"/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20">
                <Delete basePath="logs/" followLinks="True">
                  <IfFileName glob="access-*.log.gz">
                      <IfAny>
                          <IfLastModified age="7d"/>
                          <IfAccumulatedFileSize exceeds="3 GB"/>
                      </IfAny>
                  </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="request_log" fileName="logs/request.log"
                                 filePattern="logs/request-%d{yyyy-MM-dd'T'HH:mm':00Z'}.%i.log.gz">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="5" modulate="true"/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="metering_log" fileName="metering/metering.log"
                                 filePattern="metering/metering-%d{yyyy-MM-dd'T'HH:mm':00Z'}.%i.log.gz">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="10" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="20"
                                     tempCompressedFilePattern="metering/metering-%d{yyyy-MM-dd'T'HH:mm':00Z'}.%i.log.gz.tmp">
                <Delete basePath="logs/" followLinks="True">
                    <IfFileName glob="metering-*.log.gz">
                        <IfAny>
                            <IfLastModified age="7d"/>
                            <IfAccumulatedFileSize exceeds="3 GB"/>
                        </IfAny>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="events_log" fileName="logs/events/events.log"
                                 filePattern="logs/events/events-%d{yyyy-MM-dd'T'HH:mm':00Z'}.%i.log.gz">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20">
                <Delete basePath="logs/events/" followLinks="True">
                    <IfFileName glob="events-*.log.gz" />
                    <IfLastModified age="1d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
        <!-- The rolled filename must be unique across all casper services -->
        <RollingRandomAccessFile name="tracing_log" fileName="logs/tracing.log"
                                 filePattern="logs/tracing-ws-%d{yyyy-MM-dd'T'HH:mm':00Z'}.%i.log.gz">
            <PatternLayout>
                <Pattern>%msg</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="10" modulate="true"/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20">
                <Delete basePath="logs/" followLinks="True">
                    <IfFileName glob="tracing-*.log.gz">
                        <IfAny>
                            <IfLastModified age="7d"/>
                            <IfAccumulatedFileSize exceeds="3 GB"/>
                        </IfAny>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="traffic_log" fileName="logs/traffic.log"
                                 filePattern="logs/traffic-ws-%d{yyyy-MM-dd'T'HH:mm':00Z'}.%i.log.gz">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="10" modulate="true"/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20">
                <Delete basePath="logs/">
                    <IfFileName glob="traffic-*.log.gz">
                        <IfAny>
                            <IfLastModified age="7d"/>
                            <IfAccumulatedFileSize exceeds="3 GB"/>
                        </IfAny>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="service_log" fileName="logs/service.log"
                                 filePattern="logs/service-%d{yyyy-MM-dd'T'HH:mm':00Z'}.%i.log.gz">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="5" modulate="true"/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="public_log" fileName="logs/public.log"
                                 filePattern="logs/public-%d{yyyy-MM-dd'T'HH:mm':00Z'}.%i.log.gz">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="5" modulate="true"/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
        <!-- See https://confluence.oci.oraclecorp.com/pages/viewpage.action?pageId=109221866 -->
        <RollingRandomAccessFile name="audit_log" fileName="/data/audit2/muxed.audit"
                                 filePattern="/data/audit2/muxed-%d{yyyy-MM-dd_HH}.audit">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="60" modulate="true"/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
        <LogMetrics name="log_metrics"/>
        <FixedLogMetric name="vertx_thread_blocker" metric="vertx.event_loop.blocked"/>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="app_log" level="DEBUG"/>
            <AppenderRef ref="log_metrics" level="WARN"/>
        </Root>
        <Logger name="tracing" level="INFO" additivity="false">
            <AppenderRef ref="tracing_log" level="DEBUG"/>
        </Logger>

        <Logger name="io.vertx.core.impl.BlockedThreadChecker" level="WARN" additivity="true">
            <AppenderRef ref="vertx_thread_blocker" level="WARN"/>
        </Logger>

        <!-- We want additional information for helping diagnose when customers hit UNTRUSTED_AUTHENTICATOR -->
        <Logger name="com.oracle.pic.identity.authentication.signedRequest.RequestVerifierImpl" level="WARN"/>
        <Logger name="com.oracle.pic.identity.authentication.signedRequest.Verifier" level="WARN"/>

        <Logger name="com.oracle.pic.identity.authentication.signedRequest" level="WARN"/>
        <Logger name="com.oracle.pic.identity.authentication.AuthenticatorClientImpl" level="ERROR"/>
        <Logger name="com.oracle.pic.identity.authorization.permissions.ActionKind" level="ERROR"/>
        <Logger name="com.oracle.pic.identity.authorization.sdk.response.BaseAuthorizationResponse" level="ERROR"/>
        <Logger name="com.oracle.pic.casper.webserver.api.metering.MeteringHelperImpl" level="INFO"/>
        <Logger name="com.oracle.pic.limits" level="ERROR"/>

        <Logger name="com.oracle.pic.identity.authorization.sdk.store.AuthorizationDecisionCachingStore" level="ERROR"/>
        <Logger name="io.vertx.ext.web.handler.impl.LoggerHandlerImpl" level="ERROR"/>

        <Logger name="com.oracle.pic.casper.webserver.api.common.CasperLoggerHandler" level="INFO" additivity="false">
            <AppenderRef ref="access_log" level="DEBUG"/>
        </Logger>
        <Logger name="io.vertx.ext.web.handler.LoggerHandler" level="INFO" additivity="false">
            <AppenderRef ref="access_log" level="DEBUG"/>
        </Logger>
        <Logger name="com.oracle.pic.casper.common.metrics.request_log" level="INFO" additivity="false">
            <AppenderRef ref="request_log" level="DEBUG"/>
        </Logger>
        <Logger name="com.oracle.pic.casper.webserver.traffic_log" level="INFO" additivity="false">
            <AppenderRef ref="traffic_log" level="INFO"/>
        </Logger>
        <Logger name="com.oracle.pic.casper.common.metering.metering_log" level="INFO" additivity="false">
            <AppenderRef ref="metering_log" level="DEBUG"/>
        </Logger>
        <Logger name="com.oracle.pic.casper.event.logging" LEVEL="INFO" additivity="false">
            <AppenderRef ref="events_log" level="INFO"/>
        </Logger>
        <Logger name="org.apache.http.headers" level="INFO" />
        <Logger name="org.apache.http.wire" level="INFO" />
        <Logger name="com.oracle.pic.casper.webserver.api.auditing.AuditLogger" level="INFO" additivity="false">
            <AppenderRef ref="audit_log" level="INFO"/>
        </Logger>
        <Logger name="com.oracle.pic.casper.webserver.api.logging.service_log" level="INFO" additivity="false">
            <AppenderRef ref="service_log" level="INFO"/>
        </Logger>
        <Logger name="com.oracle.pic.casper.webserver.api.logging.public_log" level="INFO" additivity="false">
            <AppenderRef ref="public_log" level="INFO"/>
        </Logger>
    </Loggers>
</Configuration>
