<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable" monitorInterval="30" packages="com.webutils">
    <Appenders>
        <RollingRandomAccessFile name="objectserver_log" fileName="logs/objectserver_old.log"
                                 filePattern="logs/objectserver_old-%d{yyyy-MM-dd'T'HH:mm':00Z'}.%i.log.gz">
            <PatternLayout>
                <Pattern>%d %-5p %c{1} [%t] [%X{opc-request-id}] %replace{%m}{[\n\r]+}{} %ex{full}{separator( | )}%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="10" modulate="true"/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20">
                <Delete basePath="logs/" followLinks="True">
                    <IfFileName glob="objectserver_old-*.log.gz">
                        <IfAny>
                            <IfLastModified age="7d"/>
                            <IfAccumulatedFileSize exceeds="3 GB"/>
                        </IfAny>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <File name="JSONLogfileAppender" fileName="logs/objectserver.log">
            <JSONLayout properties="true" complete="true" compact="true" eventEol="true">
                <KeyValuePair key="timestamp" value="$${date:yyyy-MM-dd'T'HH:mm:ss.SSSZ}" />
                <KeyValuePair key="kubernetes.host" value="${k8s:host:-}"/>
                <KeyValuePair key="kubernetes.labels.app" value="${k8s:labels.app:-}"/>
                <KeyValuePair key="kubernetes.labels.pod-template-hash" value="${k8s:labels.podTemplateHash:-}"/>
                <KeyValuePair key="kubernetes.master_url" value="${k8s:masterUrl:-}"/>
                <KeyValuePair key="kubernetes.namespaceId" value="${k8s:namespaceId:-}"/>
                <KeyValuePair key="kubernetes.namespaceName" value="${k8s:namespaceName:-}"/>
                <KeyValuePair key="kubernetes.podID" value="${k8s:podId:-}"/>
                <KeyValuePair key="kubernetes.podIP" value="${k8s:podIp:-}"/>
                <KeyValuePair key="kubernetes.podName" value="${k8s:podName:-}"/>
            </JSONLayout>
            <BurstFilter level="INFO" rate="2" maxBurst="10"/>
        </File>
        <Async name="AsyncAppender" bufferSize="80">
            <AppenderRef ref="JSONLogfileAppender"/>
        </Async>

    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="objectserver_log" level="DEBUG"/>
            <AppenderRef ref="AsyncAppender" level="DEBUG"/>
        </Root>

    </Loggers>
</Configuration>
